$color-full-black: #000000;
$color-accent-black: #141414;
$color-accent-white: #FFFFFF;
$color-accent-grey: #DBDBDB;
$color-light-grey: #EEEEEE;

$_1024: 1024px;
$_768: 768px;
$_576: 576px;
$_360: 360px;

